<div style="text-align: center; padding-top:100px;">
  <h1>Editing student</h1>

  <%= render "form", student: @student %>

  <br>

  <div>
    <%= link_to "Show this student", @student %> |
    <%= link_to "Back to students", students_path %>
  </div>
</div>
