<!-- app/views/home/index.html.erb -->

<div class="container text-center py-5">
  <h1 class="display-4 mb-4">Study with Me</h1> <!-- Project name in the middle top -->

  <!-- Buttons linking to /register and /forum -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= link_to "Register", register_path, class: "btn btn-primary btn-lg btn-block mb-3" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Forum", forum_path, class: "btn btn-secondary btn-lg btn-block mb-3" %>
    </div>
  </div>
</div>
