<div style="text-align: center; padding-top: 100px;">
  <p style="color: green"><%= notice %></p>

  <h1>Mentors</h1>

  <div id="mentors">
    <% @mentors.each do |mentor| %>
      <div style="margin: 0 auto; width: 33%; margin-bottom: 10px; text-align: center;">
        <div style="border: 1px solid black; padding: 10px;">
          <p><strong>Name:</strong> <%= mentor.name %></p>
          <p><strong>Mentor ID:</strong> <%= mentor.mentorId %></p>
          <p>
            <%= link_to "Show this mentor", mentor %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
