<div style="text-align: center; padding-top:100px;">
  <h1>New mentor</h1>

  <%= render "form", mentor: @mentor %>

  <br>

  <div>
    <%= link_to "Back to mentors", mentors_path %>
  </div>
</div>
